@import './styles/font-face';
@import './styles/variables.scss';

body {
  margin: 0; // 1
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight-regular;
  line-height: $gbl-line-height;
  text-align: left; // 3
  background-color: $color-white; // 2
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

footer {
  align-items: center;
  text-align: center;
}