.select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $padding-1;
  max-width: 250px;
  cursor: pointer;
}

.select-input {
  padding: $padding-1;
  border: 1px solid $color-grey;
  margin-bottom: $margin-1;
  display: flex;
  justify-content: space-between;

  &__arrow {
    color: $color-grey;
  }
}

.select-option {
  border: 1px solid $color-grey;
  padding: $padding-1;

  &:hover {
    background-color: $color-orange;
    color: #ffffff;
  }
}

.select-title {
  margin: $margin-1 0;
}

.select-scroll {
  overflow-y: auto;
  height: 100%;
  max-height: 200px;
}