.cars-wrapper {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 100%;
}

.cars-content {
  padding: $padding-1;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-grey;
    height: 220px;
    padding: 0 $margin-2 0 $margin-2;
    margin: $margin-2 0 0 $margin-1;
  }

  &__result {
    width: 100%;
    
     @include desktop {
        width: 65%;
        margin: 0 $margin-3;
     }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 8px;

    @include desktop {
      flex-direction: row;
    }
    
    @include tablet {
      flex-direction: row;
    }
  }

  &__data {
    overflow-y: auto;
    max-height: 800px;
  }
}
