.cars-wrapper {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 100%;
}

.cars-content {
  padding: $padding-1;

  &__filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid $color-grey;
    width: 30%;
    max-width: 400px;
    padding-right: $margin-2;
  }

  &__result {
    width: 70%;
    background-color: $color-grey;
  }
}
