$gbl-line-height: 1.3333;
$gbl-line-height-small: 1.1111;
$base-line-height: $gbl-line-height !default;

$base-font-weight-light: 200;
$base-font-weight-regular: 500;
$base-font-weight-bold: 700;

$base-font-size: 16px !default;
$base-font-size-deskop: 18px !default;

$base-font-family: 'Auto1','Open Sans', sans-serif;

$color-white: white;
$color-grey: #cccccc;
$color-black: #4a4a4a;
$color-orange: #ea7f28;
$color-dark-orange: #d37324;

$margin-1: 8px;
$margin-2: 12px;
$margin-3: 24px;


$padding-1: 8px;
$padding-2: 12px;
$padding-3: 24px;